In [61]:
import pandas as pd

In [62]:
df = pd.read_csv(r"C:\Users\ERP80\Documents\ds_salary_proj\glassdoor_jobs.csv", index_col = None, header=0)

In [63]:
# Salary Parsing

In [64]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [82]:
df = df[df['Salary Estimate'] != '-1']
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$','').replace('CA',''))

In [83]:
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [84]:
df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary+df.max_salary)/2

In [85]:
#Company name text only

In [86]:
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3], axis = 1)

In [87]:
#state field

In [88]:
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[0])
df.job_state.value_counts()

Toronto        6
Vancouver      4
Montreal       2
Mississauga    2
Calgary        2
Ontario        1
Ottawa         1
Waterloo       1
Thorold        1
Name: job_state, dtype: int64

In [89]:
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [90]:
#age of company

In [91]:
df['age'] = df.Founded.apply(lambda x: x if x <1 else 2020 - x)

In [92]:
#parsing of job description (python, etc.)

In [93]:
#python

In [94]:
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [95]:
#r studio

In [96]:
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.R_yn.value_counts()

0    20
Name: R_yn, dtype: int64

In [97]:
#spark

In [98]:
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

0    11
1     9
Name: spark, dtype: int64

In [99]:
#aws

In [100]:
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

0    16
1     4
Name: aws, dtype: int64

In [101]:
#excel

In [102]:
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

1    14
0     6
Name: excel, dtype: int64

In [103]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'company_txt', 'same_state', 'job_state',
       'min_salary', 'max_salary', 'avg_salary', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel'],
      dtype='object')

In [120]:
df_out = df.drop(['Job Description'],axis = 1)

In [121]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'company_txt', 'same_state', 'job_state',
       'min_salary', 'max_salary', 'avg_salary', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel'],
      dtype='object')

In [122]:
df_out.to_csv(r"C:\Users\ERP80\Documents\ds_salary_proj\salary_data_cleaned.csv",index = False)

In [124]:
pd.read_csv(r"C:\Users\ERP80\Documents\ds_salary_proj\salary_data_cleaned.csv")

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,...,job_state,min_salary,max_salary,avg_salary,age,python_yn,R_yn,spark,aws,excel
0,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),3.1,Home Trust\n3.1,Toronto,"Toronto, Canada",501 to 1000 employees,1977,Company - Public,Lending,...,Toronto,73,100,86.5,43,1,0,1,0,1
1,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),4.0,Suncor Energy Services\n4.0,Calgary,"Calgary, Canada",10000+ employees,1967,Company - Public,Energy,...,Calgary,73,100,86.5,53,1,0,0,0,1
2,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),3.3,Purolator\n3.3,Mississauga,"Mississauga, Canada",10000+ employees,-1,Company - Private,Express Delivery Services,...,Mississauga,73,100,86.5,-1,1,0,1,0,1
3,Data Scientist (remote),CA$73K-CA$100K (Glassdoor Est.),5.0,Ample Insight Inc.\n5.0,Toronto,"Toronto, Canada",1 to 50 employees,-1,Company - Private,-1,...,Toronto,73,100,86.5,-1,1,0,0,0,0
4,Product Data Scientist,CA$73K-CA$100K (Glassdoor Est.),4.4,Coffee Meets Bagel\n4.4,Ontario,"San Francisco, CA",51 to 200 employees,2012,Company - Private,Computer Hardware & Software,...,Ontario,73,100,86.5,8,1,0,0,0,0
5,Senior NLP Engineer/Data Scientist,CA$73K-CA$100K (Glassdoor Est.),4.9,Nylas\n4.9,Toronto,"San Francisco, CA",51 to 200 employees,2013,Company - Private,Enterprise Software & Network Solutions,...,Toronto,73,100,86.5,7,1,0,1,0,0
6,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),-1.0,SomaDetect,Thorold,"Fredericton, Canada",1 to 50 employees,-1,Company - Private,-1,...,Thorold,73,100,86.5,-1,1,0,1,0,1
7,"Data Scientist Consultant, Cloud Support Data ...",CA$73K-CA$100K (Glassdoor Est.),4.4,Google\n4.4,Waterloo,"Mountain View, CA",10000+ employees,1998,Company - Public,Internet,...,Waterloo,73,100,86.5,22,1,0,0,0,1
8,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),3.5,Assurance Careers\n3.5,Toronto,"Bellevue, WA",51 to 200 employees,2016,Company - Private,Insurance Agencies & Brokerages,...,Toronto,73,100,86.5,4,1,0,0,1,1
9,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),3.9,Amazon\n3.9,Ottawa,"Seattle, WA",10000+ employees,1994,Company - Public,Internet,...,Ottawa,73,100,86.5,26,1,0,1,1,1
10,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),4.0,Aquatic Informatics\n4.0,Vancouver,"Vancouver, Canada",51 to 200 employees,-1,Company - Private,Enterprise Software & Network Solutions,...,Vancouver,73,100,86.5,-1,1,0,0,1,1
11,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),3.7,Scalian Inc\n3.7,Montreal,"Labege, France",1001 to 5000 employees,1989,Company - Private,Enterprise Software & Network Solutions,...,Montreal,73,100,86.5,31,1,0,1,0,1
12,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),5.0,Precision Nutrition\n5.0,Toronto,"Toronto, Canada",51 to 200 employees,2001,Company - Private,Education Training Services,...,Toronto,73,100,86.5,19,1,0,0,0,1
13,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),4.0,Bayer\n4.0,Mississauga,"Sao Paulo, Brazil",5001 to 10000 employees,1863,Company - Private,Biotech & Pharmaceuticals,...,Mississauga,73,100,86.5,157,1,0,0,0,0
14,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),3.3,Fujitsu\n3.3,Vancouver,"MINATO-KU, Japan",10000+ employees,1935,Company - Public,-1,...,Vancouver,73,100,86.5,85,1,0,1,0,1
15,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),4.2,Thrive Health\n4.2,Vancouver,"Vancouver, Canada",1 to 50 employees,2016,Company - Private,Healthcare Services & Hospitals,...,Vancouver,73,100,86.5,4,0,0,0,0,1
16,Data Engineer/Backend Developer,CA$73K-CA$100K (Glassdoor Est.),-1.0,Label Engine,Vancouver,"Los Angeles, CA",51 to 200 employees,-1,Company - Private,-1,...,Vancouver,73,100,86.5,-1,1,0,0,1,1
17,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),3.9,Cerebri AI\n3.9,Toronto,"Austin, TX",51 to 200 employees,2016,Company - Private,Enterprise Software & Network Solutions,...,Toronto,73,100,86.5,4,1,0,1,0,0
18,Data Scientist Intern,CA$73K-CA$100K (Glassdoor Est.),2.7,Guavus\n2.7,Montreal,"San Jose, CA",201 to 500 employees,2006,Subsidiary or Business Segment,Enterprise Software & Network Solutions,...,Montreal,73,100,86.5,14,1,0,1,0,1
19,Data Scientist,CA$73K-CA$100K (Glassdoor Est.),4.2,Replicon\n4.2,Calgary,"Calgary, Canada",201 to 500 employees,1996,Company - Private,Enterprise Software & Network Solutions,...,Calgary,73,100,86.5,24,1,0,0,0,0